aiohttp==3.7.2
altgraph==0.17
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
discord.py==1.5.1
idna==2.10
macholib==1.14
multidict==5.0.0
Pillow==8.0.1
PyInstaller==4.0
PySocks==1.7.1
requests==2.24.0
stem==1.8.0
urllib3==1.26.0
websockets==8.1
yarl==1.6.2
